/******************** HEADER CSS START ********************/
body {
  line-height: 1.2;
}
body,
.section-header.shopify-section-group-header-group {
  background-color: rgb(var(--color-gradient-alt)) !important;
}
.header-wrapper {
  border-radius: 0 0 3rem 3rem;
}
.header--middle-left {
  grid-template-areas: 'heading navigation';
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.header--middle-left .header__heading-link {
  padding: 0;
  margin-left: 0;
}
.header__inline-menu .list-menu__item {
  padding: 1.2rem 2.2rem;
  font-size: 1.6rem;
  font-weight: var(--font-heading-weight);
  color: rgba(var(--color-foreground),1);
}
.header__inline-menu ul li:last-child .list-menu__item {
  padding-right: 0;
}
header-bottom {
  display: flex;
  background-color: rgb(var(--color-gradient-alt));
  padding: 3.5rem 0;
}
header-bottom .page-width {
  width: 100%;
}
.header-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom-left {
  display: flex;
  width: 100%;
  gap: 0.8rem;
}
.header-bottom-right {
  min-width: 35rem;
}
@media screen and (max-width: 749px) {
  .header-bottom-right {
    min-width: 7rem;
  }
  .header {
    padding: 4px 1.5rem !important;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
.header-bottom-home, .mobile-facets__open {
  padding: 1rem 2rem 1rem 4.4rem;
  border: 1px solid rgb(var(--color-header-border));
  border-radius: 5px;
  background: url('https://cdn.shopify.com/s/files/1/0925/9073/5747/files/home.svg?v=1749506753') no-repeat;
  background-position: 2rem center;
  text-decoration: none;
  color: rgba(var(--color-header-border),1);
  height: 4.5rem;
  line-height: 1;
  display: flex;
  align-items: center;
}
.header-bottom-left .search__input {
  padding: 1.6rem 2rem;
  border: 1px solid rgb(var(--color-header-border));
  border-radius: 5px;
  color: rgba(var(--color-header-border),1);
  height: 4.5rem;
  background: transparent;
  margin: 0;
}
.header-bottom-left .field:before,
.header-bottom-left .field:after {
  display: none;
}
.header-bottom-left .field__label {
  color: rgba(var(--color-header-border),0.75);
}
.header-bottom-left .field__button {
  color: rgba(var(--color-header-border),1);
}
.header-bottom-right .header__icon .svg-wrapper {
  width: auto;
  height: auto;
}
.header-bottom-right .header__icon, .header-bottom-right .header__icon--cart .icon {
  width: 1.8rem;
  height: 1.8rem;
}
.header-bottom-right .header__icons {
  gap: 1rem;
  padding: 0;
}
.header-bottom-right .header__icon {
  width: auto;
  height: 4.5rem;
  padding: 1rem 2rem;
  border: 1px solid rgb(var(--color-header-border));
  border-radius: 5px;
  text-decoration: none;
  color: rgba(var(--color-header-border), 1);
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  line-height: 1.1;
}
.header-bottom-right .header__icon:hover .icon,
.header-bottom-right .modal__close-button:hover .icon {
  transform: scale(1);
}
.header__icon--cart {
  margin-right: 0;
}
.shopify-section-header-hidden sticky-header.header-wrapper {
    top: var(--header-height);
}
sticky-header.header-wrapper {
    all 0.5s;
}
/******************** HEADER CSS END ********************/

/******************** FOOTER CSS START ********************/
@media screen and (min-width: 750px) {
    .grid--3-col-tablet .grid__item {
        width: calc(16% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    }
    .grid--3-col-tablet .grid__item:first-child {
        width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    }
}
/******************** FOOTER CSS END ********************/
.field__input:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, .localization-form__select:focus.localization-form__select:after {
  box-shadow: unset;
}
.field__input:focus~.field__label, .field__input:not(:placeholder-shown)~.field__label, .field__input:-webkit-autofill~.field__label, .customer .field input:focus~label, .customer .field input:not(:placeholder-shown)~label, .customer .field input:-webkit-autofill~label {
  top: calc(var(--inputs-border-width) + 0.1rem);
}