.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list-title {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}


/*************** | CUSTOM CSS START | ***************/
.content-for-layout .section-collection-list .gradient {
  border-radius: 3rem;
}
.section-collection-list .collection-list  {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2.4rem;
}

.section-collection-list .collection-list .collection-list__item {
  width: 100%;
  max-width: unset;
  height: 30.7rem;
  position: relative;
  background-color: rgb(var(--color-button));
  border: 0.1rem solid rgb(var(--color-button));
  border-radius: 3.2rem;
  overflow: hidden;
}

.section-collection-list .collection-list .collection-list__item:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
.section-collection-list .collection-list .collection-list__item:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
.section-collection-list .collection-list .collection-list__item:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
.section-collection-list .collection-list .collection-list__item:nth-child(4) { grid-area: 1 / 3 / 3 / 4; height: calc(30.7rem * 2 + 2.4rem) }
.section-collection-list .collection-list .collection-list__item:nth-child(5) { grid-area: 1 / 4 / 3 / 5; height: calc(30.7rem * 2 + 2.4rem)}

@media screen and (max-width: 1024px) {
  .section-collection-list .collection-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .section-collection-list .collection-list .collection-list__item:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
  .section-collection-list .collection-list .collection-list__item:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
  .section-collection-list .collection-list .collection-list__item:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
  .section-collection-list .collection-list .collection-list__item:nth-child(4) { grid-area: 3 / 1 / 5 / 2; }
  .section-collection-list .collection-list .collection-list__item:nth-child(5) { grid-area: 3 / 2 / 5 / 3; }
}

.section-collection-list .collection-list .collection-list__item .gradient {
  background: transparent;
  border-radius: 0;
}
.section-collection-list .collection-list .collection-list__item .ratio:before {
  padding-bottom: calc(30.7rem - 90px);
}
.section-collection-list .collection-list .collection-list__item:nth-child(4) .ratio:before,
.section-collection-list .collection-list .collection-list__item:nth-child(5) .ratio:before { 
  padding-bottom: calc(((30.7rem * 2) + 2.4rem) - 90px);
}
.section-collection-list .collection-list .collection-list__item .card__media img {
  object-fit: contain;
  padding: 1rem;;
}
.collection-list__item .card__content {
  position: absolute;
  bottom: 0;
  left: 0;
}
.collection-list__item .card--media .card__inner .card__content {
  display: none;
}
.section-collection-list .collection-list .collection-list__item .card__information {
  padding: 2rem 3rem;
}
.section-collection-list .collection-list .collection-list__item .card__heading {
  font-weight: var(--font-heading-weight);
}
.section-collection-list .collection-list .collection-list__item .card__heading a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  word-break: break;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.collection-list__item .card__heading a .icon-wrap {
  margin: 0;
  width: 3.2rem;
  min-width: 3.2rem;
  height: 3.2rem;
}

@media screen and (max-width: 767px) {
  .section-collection-list .collection-list .collection-list__item .card__information {
    padding: 1.5rem;
  }
  .section-collection-list .collection-list .collection-list__item {
    border-radius: 2rem;
  }
}
/*************** | CUSTOM CSS END | ***************/